body{
     background-color: yellow;
     font-family: fantasy;
     color: rgba(227, 108, 237, 0.84);
     padding: 10%;
  }
h1{
    color: dark-cyjan;
    margin: 0px;
  }



.strona{ border: 1px solid black;
   background-color: #293d9a,;
   background-color;
   padding: inherit;
}
h2{
    background-color: rgb(208, 181, 68);
    color rgb(244, 198, 100);}
 p{
   background-color: #61199f;
   color:inherit;
   }
.trzypokojowe

          {background-color: hsl(100,100% 0%); }
